* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: arial;
    background-color: #17a2b8;
  }

.div-terminado {
    width: 500px;
    height: 70%;
    background: gainsboro;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 30px;
    box-shadow: 7px 13px 37px #000; 
    padding: 30px 50px;
    border-top: 4px solid #017bab;
    color: black;
    border-radius: 20px;
  }

  .video {
      width: 100%;
      max-width: 720px;
      height: auto;
      margin: 50px auto;
      border-radius: 5px;
  }

  .video video{
      width: 100%;
      height: auto;
      border-radius: 5px;
  }

  .terminado{
        text-align-last: center;
        font-weight: bold;
  }

  .puntuacion{
    width: 20px;
    height: 20px;
    cursor: pointer;
    font-weight: bold;
}

.text-puntuacion{
    text-align-last: center;
}

.comentario{
    font-weight: bold;
}

.incomentario{
    width: 100%;
    height: auto;
    border: 1px solid #017bab;
    margin-bottom: 15px;
    padding: 11px 10px;
    background: white;
    font-size: 14px;
    font-weight: bold;
    border-radius: 3px;
}